<!DOCTYPE html>
<html>
    <head>
    <%- include ("../partials/head.ejs")  %> 

   
    </head>
    <body>
    <header>     
       <%- include("../partials/header.ejs")  %> 
    </header>

 <body>

    <main class="contenedorCarrito">

        <table >
          
            <thead >
                     <tr>
               <th><h3><b>PRODUCTO </b> </h3></th>
                <th><h3>TITULO </h3></th>
                <th><h3>CANTIDAD</h3></th>
                <th><h3>PRECIO</h3></th>
                <th></th>
                 </tr>
                </thead>
        <tbody>
                
           


              <% carrito.forEach(libro => { %>
                     <tr class="tablaItem">
                         <td><img  src="/images/products/<%=libro.imagen %>" class="imagenCarrito" alt="" width="100px" height="100px"><a href="" class="eliminarItem"><p>Eliminar</p></a></td>
                          <td> <%=libro.titulo%></td>
                          <td><input type="button" name="minus" value="-"><input type="text" name="amount" value="1"><input type="button" name="plus" value="+" onclick="plus(0)" ></td> 
                        <td><%=libro.precio%></td>
                               <% }) %>  
                      </tr>



   
       
 





        </tbody>
        <tfoot>
      <tr>
        <th scope="row" colspan="3">PRECIO TOTAL: </th>
        <td colspan="1"><strong> 207.51</strong></td>
      </tr>
      <tr>
          <th colspan="3"></th>
          <td colspan="1" class="pagar"><a href> PAGAR </a></td>
      </tr>
        </tfoot>
      

        </table>   


    </main>



    <footer class="footer-section">
        
        <%- include ("../partials/footer.ejs")%>
    </footer>

 </body>

 </html>

  




   


       


   








       



