<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/head.ejs") %>
</head>

<body class="body-login">
  <header>
    <%- include ("../partials/header.ejs")%>
  </header>




  <main class="main-register">
    <div class="caja-register">

      <form action="/product/create" method="POST" class="formulario-completo" enctype="multipart/form-data">
        <h3>CREAR UN NUEVO PRODUCTO</h3>
        <br>
        <br>
        <!-- Primer autor -->
      <label for="autor" class="form-label">Autor</label>
       <div class="primerAutor">
        <input name="autor" value="<%= locals.old ? old.autor : null %>" class="form-input-categoria" id="author"></input>
          <i class="fa-solid fa-circle-xmark" id="iconAuthor"></i>
          <i class="fa-solid fa-circle-plus"></i>
          <i class="fa-solid fa-circle-minus"></i>
        </div>
          <small class="is-invalid" id="error-author"></small>
             <% if(locals.errors && errors.autor) {%>
          <div class="text-danger">
   
            <%= errors.autor.msg %>
   
          </div>
          <% } %> 
     
  

          <!-- Segundo autor -->
          <div class="segundoAutor">
            <label for="segundoAutor" class="form-label">Segundo autor</label>
            <input name="segundoAutor" value="<%= locals.old ? old.autor : null %>" class="form-input-categoria"></input>
            <% if(locals.errors && errors.segundoAutor) {%>
              <div class="text-danger">
        
                <%= errors.segundoAutor.msg %>
  
              </div>
              <% } %>
            </div>
            <div class="div-campos">
            <label for="editorial" class="form-label">Seleccioná una editorial o creá una nueva <a
                href="/product/createEditorial" class="linkAutor">aquí</a></label>
            <!-- no recuerda la editorial -->
                <select name="editorial" value="<%= locals.old ? old.editorial : null %>" class="form-input-categoria" id="publisher">
              <option value="">Seleccioná una editorial</option>
              <% editoriales.forEach(editorial=> { %>
              
                <option value="<%= editorial.id %>">
                  <%= editorial.name %>
                  <br>
                </option>
                <% }) %>
            </select>
            <i class="fa-solid fa-circle-xmark" id="iconPublisher"></i>
            <small class="is-invalid" id="error-publisher"></small>
          
            <% if(locals.errors && errors.editorial) {%>
              <div class="text-danger">
           
                <%= errors.editorial.msg %>
            
              </div>
            </div>
              <% } %>

                <div class="div-campos">
                <label for="titulo" class="form-label">Título</label>
                <input type="text" name="titulo" id="titulo" class="input-barras"
                  value="<%= locals.old ? old.titulo : null %>">
                <i class="fa-solid fa-circle-xmark" id="iconTitle"></i>
                
                <small class="is-invalid" id="error-title"></small>
                
               
                    <% if(locals.errors && errors.titulo) {%>
                  <div class="text-danger">
        
                    <%= errors.titulo.msg %>
       
                  </div>
                
                </div>
                  <% } %>
              



                    <div class="div-campos">
                    <label for="ilustrador" class="form-label">Ilustrador</label>
                    <input type="text" name="ilustrador" id="ilustrador" class="input-barras"
                      value="<%= locals.old ? old.ilustrador : null %>">
                    <% if(locals.errors && errors.ilustrador) {%>
                      <div class="text-danger">
                
                        <%= errors.ilustrador.msg %>
           
                      </div>
                    </div>
                      <% } %>
                        <div class="div-campos">
                        <label for="traductor" class="form-label">Traductor</label>
                        <input type="text" name="traductor" id="traductor" class="input-barras"
                          value="<%= locals.old ? old.traductor : null %>">
                        <% if(locals.errors && errors.traductor) {%>
                          <div class="text-danger">
                 
                            <%= errors.traductor.msg %>
               
                          </div>
                        </div>
                          <% } %>

                          <div class="div-campos">
                            <label for="genero" class="form-label">Seleccioná el género</label>
                            <select name="genero" id="genero" class="form-input-categoria">
                              <!-- no recuerda el género -->
                              <option value="<%= locals.old ? "selected" : null %>">Elegí un género</option>
                              <% generos.forEach(genero=> { %>
                                <option value="<%= genero.id %>">
                                  <%= genero.name %>
                                  <br>
                                </option>
                                <% }) %>
                            </select>
                            <i class="fa-solid fa-circle-xmark" id="iconGenre"></i>
                            <small class="is-invalid" id="error-genre"></small>
                          
                          </div>
                            
                             
                            <div class="div-campos">
                            <label for="idioma" class="form-label">Idioma</label>
                            <input type="text" name="idioma" id="idioma" class="input-barras"  value="<%= locals.old ? old.idioma : null %>">
                            <i class="fa-solid fa-circle-xmark" id="iconIdioma"></i>
                            <small class="is-invalid" id="error-idioma"></small>
                            <% if(locals.errors && errors.idioma) {%>
                              <div class="text-danger">
                       
                                <%= errors.idioma.msg %>
                       
                              </div>
                            </div>
                              <% } %> 

                            <div class="div-campos">
                            <label for="isbn" class="form-label">ISBN</label>
                            <input type="text" name="isbn" id="isbn" class="input-barras"  value="<%= locals.old ? old.isbn : null %>">
                            <i class="fa-solid fa-circle-xmark" id="iconIsbn"></i>
                            <small class="is-invalid" id="error-isbn"></small>
                            <% if(locals.errors && errors.isbn) {%>
                              <div class="text-danger">
                       
                                <%= errors.isbn.msg %>
                       
                              </div>
                            </div>
                              <% } %> 
                            <div class="div-campos">
                            <label for="precio" class="form-label">Precio</label>
                            <input type="number" name="precio" id="precio" class="input-barras"  value="<%= locals.old ? old.precio : null %>">
                            <i class="fa-solid fa-circle-xmark" id="iconPrecio"></i>
                            <small class="is-invalid" id="error-precio"></small>
                            <% if(locals.errors && errors.precio) {%>
                              <div class="text-danger">
                       
                                <%= errors.precio.msg %>
                       
                              </div>
                            </div>
                              <% } %> 

                            <div class="div-campos">
                            <label for="fecha_publicacion" class="form-label">Año de publicación</label>
                            <input type="number" name="fecha_publicacion" id="fecha" class="input-barras"  value="<%= locals.old ? old.fecha_publicacion : null %>">
                            <i class="fa-solid fa-circle-xmark" id="iconFecha"></i>
                            <small class="is-invalid" id="error-fecha"></small>
                          </div>
                          <% if(locals.errors && errors.fecha_publicacion) {%>
                            <div class="text-danger">
                     
                              <%= errors.fecha_publicacion.msg %>
                     
                            </div>
                          </div>
                            <% } %> 

                          <div class="div-campos">  
                          <label for="cantidad" class="form-label">Cantidad</label>
                            <input type="number" name="cantidad" id="cantidad" class="input-barras"  value="<%= locals.old ? old.cantidad : null %>">
                            <i class="fa-solid fa-circle-xmark" id="iconCantidad"></i>
                            <small class="is-invalid" id="error-cantidad"></small>
                            <% if(locals.errors && errors.cantidad) {%>
                              <div class="text-danger">
                       
                                <%= errors.cantidad.msg %>
                       
                              </div>
                            </div>
                              <% } %> 

                            <div class="div-campos">  
                            <label for="paginas">Cantidad de páginas</label>
                            <input type="number" name="paginas" id="paginas" class="input-barras"  value="<%= locals.old ? old.paginas : null %>">
                            <i class="fa-solid fa-circle-xmark" id="iconPaginas"></i>
                            <small class="is-invalid" id="error-paginas"></small>
                            <% if(locals.errors && errors.paginas) {%>
                              <section class="text-danger">
                        
                                <%= errors.paginas.msg %>
                           
                              </section>
                            </div>
                              <% } %>

                            <div class="div-campos">
                              <label class="form-label" for="portada">Imagen de la portada</label>
                            <input type="file" name="imagen" class="input-avatar" id="imagen">
                            <i class="fa-solid fa-circle-xmark" id="iconImage"></i>
                            <small class="is-invalid" id="error-image"></small>
                            
                            <% if(locals.errors && errors.imagen) {%>
                              <section class="text-danger">
                           
                                <%= errors.imagen.msg %>
                      
                              </section>
                            </div>
                              <% } %>

                            <div class="textDescripcion">
                              <label for="descripcion"></label>
                              <!-- no recuerda la descripción -->
                              <textarea id="descripcion" name="descripcion" rows="12" cols="40"
                                placeholder="Descripción"  value="<%= locals.old ? old.descripcion: null %>"></textarea>
                                <i class="fa-solid fa-circle-xmark" id="iconDescription"></i>
                                <br>
                                  <small class="is-invalid" id="error-description"></small>
                                
                                <% if(locals.errors && errors.descripcion) {%>
                                  <div class="text-danger">
                                    
                                    <%= errors.descripcion.msg %>
                                   
                                  </div>
                                  <% } %>
                            </div>

                            <div class="botones-register">
                              <button type="submit" class="boton-enviar">Enviar</button>
                              <button type="reset" class="boton-borrar">Borrar</button>
                            </div>

      </form>
    </div>
  </main>

  <footer class="footer-section">
    <%- include ("../partials/footer.ejs")%>
  </footer>

  <script src="/js/productValidation/create.js"></script>

</body>



</html>