<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head.ejs")  %> 
    </head>
    <body>
        <header>
            <%- include ("../partials/header.ejs")%>
        </header>



        <main class="main-register">
            <div class="caja-register">
  
              <form  action="/product/create"  method="POST" class="formulario-completo" enctype="multipart/form-data">
                        <h3> Crear un nuevo producto</h3>
                      <label for="titulo">Título</label>
                
                      <input type="text" name="titulo" id="titulo" class="input-barras"
                      value="<%= locals.old ? old.titulo : null %>">
                         <% if(locals.errors && errors.titulo) {%> 
                        <div class="text-danger">
                          <%= errors.titulo.msg %> 
                        </div>
                        <% } %> 
                      <label for="autor">Autor</label>
                      <input type="text" name="autor" id="autor"  class="input-barras"  value="<%= locals.old ? old.autor : null %>">
                      <% if(locals.autor && errors.autor) {%> 
                     <div class="text-danger">
                       <%= errors.autor.msg %> 
                     </div>
                     <% } %> 
                 
                      <label for="categoria" class="form-label">Categoría</label>
                      <select name="categoria" id="categoria" class="form-input">
                        <option value="">Elegí</option>
                        <option value=2>Secundaria</option>
                        <option value=1>Primaria</option>
                      </select>
                     
                      <label for="editorial" class="nombre-usuario">Editorial</label>
                      <input type="text" name="editorial" id="editorial"class="input-barras" value="<%= locals.old ? old.editorial : null %>">
                      <% if(locals.errors && errors.editorial) {%> 
                     <div class="text-danger">
                       <%= errors.editorial.msg %> 
                     </div>
                     <% } %> 
                 
                      <label for="isbn">ISBN</label>
                      <input type="text" name="isbn" id="isbn" class="input-barras" >
                    
                      <label for="precio">Precio</label>
                      <input type="number" name="precio" id="precio" class="input-barras" >
                 
                      <label for="cantidad">Cantidad</label>
                      <input type="number" name="cantidad" id="cantidad" class="input-barras" >
                      <label for="paginas">Cantidad de páginas</label>
                      <input type="number" name="paginas" id="paginas" class="input-barras">
              
                     <label class="titulo-avatar" for="portada">Imagen de la portada</label>
                     <input type="file" name="imagen" class="input-avatar" id="imagen">

                     <div   class="textDescripcion">
                       <label for="descripcion"></label>
                        <textarea
                        id="descripcion"
                        name="descripcion"
                        rows="20"
                        cols="50"

                        placeholder=Descripción
                      
                      ></textarea> 
                     </div>                 
                
                  <div class="div-botones-register">
                    <button type="submit" class="boton-enviar">Enviar</button>
                  <button type="reset" class="boton-borrar">Borrar</button>
                </div>
       
              </form>
            </div>
          </main>

          <footer>
            <%- include ("../partials/footer.ejs")%>
          </footer>
        
    </body>
</html>