<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs")  %> 
</head>

<body class="body-detail">

    <header>
        <%- include ("../partials/header.ejs")%>
      
    </header>
    <!--Descripcion del producto Inicio el main-->
    <main class="main-detail">
        <section class="contenedor-detalle">

            <article class="image-detalle">
                <img src="/images/products/<%=libro.image %>" alt="Imagen Libro"> <!-- SIN EL .JPG-->
            </article>
            <section class="compra-producto">
                <article class="tablaItem" >
                  <h2 class="book-title"><%= libro.title %></h2>
                  <p class="book-price">$ <%= libro.price %></p>
                <span><img class="mediosPago" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png">  </span>
                <span><img class="mediosPago" src=" https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png">  </span>
                <span><img class="mediosPago" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png">  </span>
               <br>
               <a class="medios-link" href=""><p class="medios-title">VER MEDIOS DE PAGO</p></a>
              </article> 
                 <form>
                     <br>
                    <label class="form-cantidad">Cantidad</label>
                    <input class="input-cantidad" type="number" placeholder="1">
                    <input class="input-button" type="submit" value="Agregar al carrito">
                </form>

                <form>
                    <i class="fas fa-truck"></i>
                    <label class="envio-title">Envío a domicilio</label>
                    <section>
                        <input type="text" placeholder="Tu codigo postal">
                        <input class="button-calcular" type="submit" value="Calcular">
                    </section>
                </form>
                <section>

                    <i class="fa-solid fa-store"></i>
                    <label class="retiro">Retiro en nuestro local</label>
                    <p class="direccion">Av. Rivadavia 1234</p>
                </section>

            
                <% if (locals.userLogged && locals.usuarioLogeado.isAdmin==1) { %>
                   <form class="form-editar" action="/product/edit/<%=libro.id%>" method="GET" enctype="multipart/form-data" >
                    <button class="editar-eliminar" type="submit" >EDITAR / ELIMINAR</button>
                  </form>
                <% } %>
              

            </section>
         

        </section>
        <section class="description-container">
            <p class="description-author"><%= libro.author %> </p>
            <p class="description-author"><%= libro.second_author %> </p>  
            <% if (libro.illustrator) { %>
                <p class="description-illustrator">Ilustr. <%= libro.illustrator %> </p>
            <% } %> 
            <% if (libro.translator) { %>
                <p class="description-translator">Trad. <%= libro.translator %> </p>
            <% } %>
            <p class="description-text"><%=libro.description%></p>
        </section>

    </main>

    <footer class="footer-section">
        <%- include ("../partials/footer.ejs")%>
    </footer>

</body>

</html>