<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ("../partials/head.ejs")  %> 
</head>

<body>

    <header>
        <%- include ("../partials/header.ejs")%>
      
    </header>
    <!--Descripcion del producto Inicio el main-->
    <main>
        <section class="contenedor-detalle">

            <article class="image-detalle">
                <img src="/images/products/<%=libroEditar.imagen %>" alt="Imagen Libro"> <!-- SIN EL .JPG-->
            </article>
            <section class="compra-producto">
                <article class="tablaItem" >
                  <h2><%= libroEditar.titulo %> </h2>
                <p><%= libroEditar.precio %> </p>
               <a href=""  > 
                <span><img class="mediosPago" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png">  </span>
                <span><img class="mediosPago" src=" https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png">  </span>
                <span><img class="mediosPago" src="https://d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png">  </span>
            
               <br>
               <p> VER MEDIOS DE PAGO</p> </a>
              </article> 
                 <form>
                     <br>
                    <label class="form-cantidad">Cantidad</label>
                    <input class="input-cantidad" type="number" placeholder="1">
                    <input class="input-botton" type="submit" value="Agregar al carrito">
                </form>
              
         
                
          

                <form>
                    <i class="fas fa-truck"></i>
                    <label>Medios de envío</label>
                    <section>
                        <input type="text" placeholder="Tu codigo postal">
                        <input type="submit" value="Calcular">
                    </section>
                </form>
                <section>

                    <i class="fa-solid fa-store"></i>
                    <label>Nuestro local</label>
                </section>
                <p>Av. Rivadavia 1234</p>
                <% if (locals.userLogged && locals.usuarioLogeado.rol=="admin") { %>
                   <form action="/product/edit/<%=libroEditar.id%>" method="GET" enctype="multipart/form-data" >
                    <button type="submit" >EDITAR / ELIMINAR</button>
                  </form>
                <% } %>
              

            </section>
         

        </section>
        <section>
            <h2></h2>
            <p><%=libroEditar.descripcion%></p>
            </section>

    </main>

    <footer>
        <%- include ("../partials/footer.ejs")%>
    </footer>

</body>

</html>