<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head.ejs")  %> 
    </head>
    <body>
        <header>
            <%- include ("../partials/header.ejs")%>
        </header>



        <main class="main-register">
            <div class="caja-register">
              <form  action="/products/edit/<%=libroEditar.id%>?_method=PUT" method="POST"  class="formulario-completo" enctype="multipart/form-data" >   <!-- enctype-->
                       
                        
                 
                    

                  
                                  
                      <label for="titulo" class="form-label"><p>Nombre Producto: <%=libroEditar.titulo %> </p></label>
                      <div >
                           <img src="/images/products/<%= libroEditar.imagen %>" alt=<%= libroEditar.titulo %> width=15% display="block" >
                      </div>
                             <h3> EDITAR PRODUCTO
                        </h3>  
                      <input type="text" name="titulo" id="titulo" placeholder="Titulo" class="input-barras" value="<%=libroEditar.titulo%>" >
                     
                      <label for="autor"></label>
                      <input type="text" name="autor" id="autor" placeholder="Autor" class="input-barras" value="<%=libroEditar.autor%>">
       


                      <label for="category" class="form-label">Categoría:</label>
                      <select id="select" selectedIndex="<%=libroEditar.categoria== 1?1:2%>" name="categoria"  class="form-input">
                        <option value=0 >Categoria</option>
                        <option value=1>Primaria</option>
                        <option value=2>Secundaria</option>
                      </select>

                     
                      <label for="editorial" class="nombre-usuario"></label>
                      <input type="text" name="editorial" id="editorial" placeholder="Editorial" class="input-barras"value="<%=libroEditar.editorial%>" >
                    
                      <label for="isbn"></label>
                      <input type="text" name="isbn" id="isbn" placeholder="ISBN" class="input-barras" value="<%=libroEditar.isbn%>"required>
                    
                      <label for="precio"></label>
                      <input type="number" name="precio" id="precio" placeholder="Precio" class="input-barras"value="<%=libroEditar.precio%>" required>
  
                   <!-- 

                     <label for="fechaLanzamiento" class="label-nacimiento">Fecha de Lanzamiento</label>
                     <input type="date" name="fechaLanzamiento" class="input-barras" id="fechaLanzamiento" value=" codigo EJS" required>
                   --> 
                 
                      <label for="cantidad"></label>
                      <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad" class="input-barras" value="<%=libroEditar.cantidad%>"required>
                      <label for="paginas"></label>
                      <input type="number" name="paginas" id="paginas" placeholder="Cantidad de páginas" class="input-barras"value="<%=libroEditar.paginas%>" required>
              
                   <label class="titulo-avatar" for="portada">Imagen Portada Libro</label>
                     <input type="file" name="imagen" class="input-avatar" id="images" value="<%=libroEditar.imagen%>">

                     <div   class="textDescripcion">
                       <label for="descripcion"></label>
                        <textarea
                        id="descripcion"
                        name="descripcion"
                        rows="20"
                        cols="130"
                     ><%=libroEditar.descripcion%></textarea> 
                     </div>   
                   
               
               
                               <div  div class="div-botones-register">
                                 <button type="submit" class="boton-enviar">Enviar</button>
                                </div>
       
              </form>
                            <div class="div-botones-delete">
                                <form action="/products/delete/<%=libroEditar.id%>?_method=DELETE" method="POST" enctype="multipart/form-data">
                                      <button type="submit" class="boton-borrar">ELIMINAR</button>
                                </form>
                           </div>

                   
           
            
            </div>
          

          </main>

     
      
          <footer>
            <%- include ("../partials/footer.ejs")%>
          </footer>
        
    </body>
</html>