<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head.ejs")  %> 
    </head>
    <body class="body-login">
        <header>
            <%- include ("../partials/header.ejs")%>
        </header>



        <main class="main-register">
            <div class="caja-register">
              <form  action="/product/edit/<%=libroEditar.id%>?_method=PUT" method="POST"  class="formulario-completo" enctype="multipart/form-data" >   <!-- enctype-->
                   
                     <h2>Producto a editar:</h2>
                     <br>
                     <h3><%=libroEditar.title %></h3>
                      <br>
                      <br>
                      <div>
                           <img src="/images/products/<%= libroEditar.image %>" alt=<%= libroEditar.title %> width=35% display="block" >
                      </div>
                      <br>

                    
                      <label for="autor" class="form-label">Autor</label>
                      <div class="primerAutor">
                      <input type="text" name="autor" id="author" class="input-barras" value="<%=libroEditar.author%>">
                      <i class="fa-solid fa-circle-xmark" id="iconAuthor"></i>
                      <i class="fa-solid fa-circle-plus"></i>
                      <i class="fa-solid fa-circle-minus"></i>
                    </div>
                    <small class="is-invalid" id="error-author"></small>
                 
              
            
                      <!-- Segundo autor -->
                      <div class="segundoAutor">
                      <label for="autor" class="form-label">Segundo autor</label>
                      <input type="text" name="segundoAutor" id="autor" class="input-barras" value="<%=libroEditar.second_author%>">
                      </div>

                     <!-- No queda seleccionada la editorial original -->
                     <div class="div-campos"> 
                     <label for="editorial" class="form-label">Seleccioná una editorial o creá una nueva <a
                        href="/product/createEditorial" class="linkAutor">aquí</a></label>
                    <select name="editorial" value="<%= libroEditar.publisher %>" class="form-input-categoria" id="publisher">
                      <option value="" disabled>Seleccioná una editorial</option>
                      <% editoriales.forEach(editorial => { %>
                        <option <%= libroEditar.editorial.name == editorial.name ? "selected": "" %> value="<%= editorial.id %>">
                        <%= editorial.name %> 
                        </option>
                      <% }) %>
                    </select>
                    <i class="fa-solid fa-circle-xmark" id="iconPublisher"></i>
                    <small class="is-invalid" id="error-publisher"></small>

                  </div>
                  
                      <div class="div-campos">
                      <label for="titulo" class="form-label">Título</label>  
                      <input type="text" name="titulo" id="titulo" placeholder="Titulo" class="input-barras" value="<%=libroEditar.title%>"  id="titulo">
                      <i class="fa-solid fa-circle-xmark" id="iconTitle"></i>
                      <small class="is-invalid" id="error-title"></small>
                    </div>
                     


                    <div class="div-campos">  
                    <label for="ilustrador" class="form-label">Ilustrador</label>
                      <input type="text" name="ilustrador" id="ilustrador" placeholder="Ilustrador" class="input-barras" value="<%=libroEditar.illustrator%>">
                    </div>

                    <div class="div-campos">  
                    <label for="traductor" class="form-label">Traductor</label>
                      <input type="text" name="traductor" id="traductor" placeholder="Traductor" class="input-barras" value="<%=libroEditar.translator%>">
                    </div>
      

                    <div class="div-campos">  
                    <label for="genero" class="form-label">Género</label>
                     
                      
                      <select id="genero" name="genero"  class="form-input-categoria">
                        <option value="" disabled>Seleccioná un género</option>
                        <% generos.forEach(genero => { %>
                          <option <%= libroEditar.genero.name == genero.name ? "selected" : "" %>  value="<%= genero.id %>"><%= genero.name %> </option>
                        <% }) %>
                      </select>
                      <i class="fa-solid fa-circle-xmark" id="iconGenre"></i>
                      <small class="is-invalid" id="error-genre"></small>
                    </div>
                   
                     
                    <div class="div-campos">
                      <label for="idioma" class="form-label">Idioma</label>
                      <input type="text" name="idioma" id="idioma" placeholder="Idioma" class="input-barras" value="<%=libroEditar.idioma%>">
                      <i class="fa-solid fa-circle-xmark" id="iconIdioma"></i>
                      <small class="is-invalid" id="error-idioma"></small>
                    </div>


                      <div class="div-campos">
                      <label for="isbn" class="form-label">ISBN</label>
                      <input type="text" name="isbn" id="isbn" placeholder="ISBN" class="input-barras" value="<%=libroEditar.isbn%>">
                      <i class="fa-solid fa-circle-xmark" id="iconIsbn"></i>
                      <small class="is-invalid" id="error-isbn"></small>
                    </div>
                    
                    <div class="div-campos">  
                    <label for="precio" class="form-label">Precio</label>
                      <input type="number" name="precio" id="precio" placeholder="Precio" class="input-barras"value="<%=libroEditar.price%>">
                      <i class="fa-solid fa-circle-xmark" id="iconPrecio"></i>
                      <small class="is-invalid" id="error-precio"></small>
                      </div>
  
                   

                      <div class="div-campos">
                      <label for="fecha_publicacion" class="form-label">Fecha de publicación</label>
                     <input type="number" name="fecha_publicacion" class="input-barras" id="fecha" value="<%= libroEditar.publication_date %>"> 
                     <i class="fa-solid fa-circle-xmark" id="iconFecha"></i>
                    <small class="is-invalid" id="error-fecha"></small>
                    </div> 
                   
                 
                    <div class="div-campos">
                    <label for="cantidad" class="form-label">Cantidad</label>
                      <input type="number" name="cantidad" id="cantidad" placeholder="Cantidad" class="input-barras" value="<%=libroEditar.stock%>">
                      <i class="fa-solid fa-circle-xmark" id="iconCantidad"></i>
                      <small class="is-invalid" id="error-cantidad"></small> 
                    </div>

                    <div class="div-campos">
                      <label for="paginas" class="form-label">Páginas</label>
                      <input type="number" name="paginas" id="paginas" placeholder="Cantidad de páginas" class="input-barras"value="<%=libroEditar.pages%>">
                      <i class="fa-solid fa-circle-xmark" id="iconPaginas"></i>
                      <small class="is-invalid" id="error-paginas"></small>
                    </div>
              
                   <div class="div-campos">
                    <label for="portada" class="form-label">Imagen de la portada</label>
                     <input type="file" name="imagen" class="input-avatar" id="imagen" value="<%=libroEditar.image%>">
                     <i class="fa-solid fa-circle-xmark" id="iconImage"></i>
                    <small class="is-invalid" id="error-image"></small>
                    </div>
                    
                    <label for="descripcion" class="form-label">Descripción</label>
                     <div class="textDescripcion">
                        <textarea class="textarea"
                        id="descripcion"
                        name="descripcion"
                        rows="20"
                        cols="50"
                     ><%=libroEditar.description%></textarea>
                     <i class="fa-solid fa-circle-xmark" id="iconDescription"></i>
                     <br>
                    <small class="is-invalid" id="error-description"></small> 
                     </div>   
        
                               <div class="botones-editar">
                                 <button type="submit" class="edit-boton-enviar">ENVIAR</button>
                                </div>
                                
       
              </form>
                            
                                <form action="/product/delete/<%=libroEditar.id%>?_method=DELETE" method="POST" enctype="multipart/form-data" class="contenedor-boton-eliminar">
                                      
                                  <button type="submit" class="edit-boton-borrar">ELIMINAR</button>
                                </form>
                                <form action="/product/disable/<%=libroEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="contenedor-boton-eliminar">
                                      
                                  <button type="submit" class="edit-boton-borrar">DESHABILITAR</button>

                                </form>
                       

                   
           
            
            </div>
          

          </main>

     
      
          <footer class="footer-section">
            <%- include ("../partials/footer.ejs")%>
          </footer>
        
    </body>
    <script src="/js/productValidation/edit.js"></script>
</html>