<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head.ejs")  %> 
    </head>
    <body>
        <header>
            <%- include ("../partials/header.ejs")%>
        </header>



        <main class="main-register">
            <div class="caja-register">
              <form class="formulario-completo" action="" method="POST">
                        <h3> ¡PRODUCTO GUARDADO!</h3>
                      <h5>  <%=producto.title  %>  </h5> 
                      <h5>  <%=producto.author %>  </h5> 
               

         <div class="image-detalle">
                <img src="/images/<%=libroEditar.image%>" alt="Imagen Libro"> <!-- SIN EL .JPG-->
            </div>
                 
       
              </form>
            </div>
          </main>

          <footer class="footer-section">
            <%- include ("../partials/footer.ejs")%>
          </footer>
        
    </body>
</html>