<!DOCTYPE html>
<html>
    <head>
    <%- include ("./partials/head.ejs")  %> 

   
    </head>
    <body>
    <header>     
       <%- include("./partials/header.ejs")  %> 
    </header>
        
        <section class="banner">
            <img src="images/libros.jpeg" alt="Banner de ofertas">
        </section>

        <main>

            <section class="contenedor">
                <h2>Eduación primaria</h2>
                <article class="products-list">
                        <% primaria.forEach(libro => { %>
                           <article class="product">  
                                 <h3><%= libro.titulo %> </h3> 
                                 <article class="artImagen">
                                          <a href="products/detail/<%= libro.id %>"><img  clss="imagenLibroHome"src="/images/<%= libro.imagen %>" alt=<%= libro.titulo %>>
                                
                                   <!--   div class="product__info">
                                </div>
                                 -->
                                </a> 
                                 </article>
                           
                                
                                  <article class="precio"><b>  $<%= libro.precio %> </b>
                                
                                    <span class="carritoHome"> <i class="fa-solid fa-cart-shopping"></i> </span> 
                                </article>   
                                     
                                    
                            </article>
                        <% }) %>  
                        </article>
            </section>


            <section class="contenedor">
                <h2>Eduación secundaria</h2>
                <article class="products-list">
                        <% secundaria.forEach(libro => { %>
                            <article class="product">   
                                 <h3><%= libro.titulo %> </h3> 
                               <article class="artImagen">
                                            
                                        <a href="products/detail/<%= libro.id %>"><img src="/images/<%= libro.imagen %>" alt=<%= libro.titulo %>>
                              
                                
                                </a> 
                               </article> 
                                  <article class="precio"><b>  $<%= libro.precio %> </b>
                                
                                    <span class="carritoHome"> <i class="fa-solid fa-cart-shopping"></i> </span> 
                                </article>   
                                     
                                    
                            </article>
                        <% }) %>  
                        </article>
            </section>

           
        </main>

    <footer>
        
        <%- include ("./partials/footer.ejs")%>
    </footer>
    </body>