<!DOCTYPE html>
<html>
    <head>
    <%- include ("./partials/head.ejs")  %> 

   
    </head>
    <body>
    <header>     
       <%- include("./partials/header.ejs")  %> 
    </header>
        
        <section class="banner">
            <img src="images/libros.jpeg" alt="Banner de ofertas">
        </section>

        <main>

            <section class="primaria">
                <h2>Eduación primaria</h2>
                <div class="products-list">
                        <% primaria.forEach(libro => { %>
                            <article class="product">   
                                <a href="products/detail/<%= libro.id %>"><img src="/images/<%= libro.imagen %>" alt=<%= libro.titulo %>>
                                
                                    <div class="product__info">
                                    <p class="price">$<%= libro.precio %> </p>
                                    <h3><%= libro.titulo %> </h3>
                                </div>
                                
                                </a> 
                            
                            </article>
                        <% }) %>  
                </div>
            </section>

            <section class="secundaria">
                <h2>Educación secundaria</h2>
                <div class="products-list">

                <% secundaria.forEach(libro => { %>
 
                    <article class="product">
                        <a href="products/detail/<%= libro.id %>"><img src="/images/<%= libro.imagen %>" alt=<%= libro.titulo %>><!-- Eliminado el ".jpg"-->
                       
                            <div class="product__info">
                            <p class="price"><%= libro.autor  %> </p>
                            <h3><%= libro.titulo  %> </h3> 
                        </div>
                        </a> 
                   
                    </article>
                 
                <% }) %>
                </div>
            </section>
        </main>

    <footer>
        
        <%- include ("./partials/footer.ejs")%>
    </footer>
    </body>