<!DOCTYPE html>
<html>
    <head>
    <%- include ("./partials/head.ejs")  %> 

   
    </head>
    <body>
        <div class="hero">

            <header>
                <%- include("./partials/header.ejs")  %> 
            </header>

            <div class="mobile">
                <img src="/images/libreria.jpeg" alt="">
            </div>

            <div class="carousel">
    
                <button class="carousel__button carousel__button--left is-hidden">
                    <img src="/images/left.svg" alt="">
                </button>
                <div class="carousel__track-container">
                    <ul class="carousel__track">
                        
                        <li class="carousel__slide current-slide">
                          
                            
                                <img class="carousel__image" src="/images/products/Slide_Romeo-y-Julieta-03.jpeg" alt="">
                                
            
                                <div class="carousel-box current-box">
                                    <h3 class="box-title">Romeo y Julieta</h3>
                                    <p class="box-text">La clásica tragedia de Shakespeare cobra nueva vida con el arte de Svetlin Vassilev</p>
                                    <div class="button">
                                        <button class="cfa">Leer un fragmento</button>
                                    </div>
                         
            
                              
                               
                            </div>
                               
                        </li>
            
            
                        <li class="carousel__slide">
    
                               
                                <img class="carousel__image" src="/images/products/Slide_Odas-a-la-comida-02.jpeg" alt="">
                               
            
                                <div class="carousel-box current-box">
                                    <h3 class="box-title">Odas a la comida</h3>
                                    <p class="box-text">Una singular antología del Nobel chileno con originales estampas de Javier Zabala.</p>
                                    <div class="button">
                                        <button class="cfa-odas">Leer un fragmento</button>
                                    </div>
                                </div>
                               
                        
                               
                        </li>
            
                        <li class="carousel__slide">
                          
                                <img class="carousel__image" src="/images/products/Slide_Condesa-02.jpeg" alt="">
                              
                       
            
                                <div class="carousel-box current-box">
                                    <h3 class="box-title">La condesa sangrienta</h3>
                                    <p class="box-text">Un relato perturbador de Alejandra Pizarnik, recreado con admirable maestría en las estampas de Sebastián Caruso.</p>
                                    <div class="button">
                                        <button class="cfa-condesa">Leer un fragmento</button>
                                    </div>
                                
                               
                        </li>
            
                    </ul>
                </div>
            
                <button class="carousel__button  carousel__button--right">
                    <!-- <i class="fa-solid fa-chevron-right"></i> -->
                    <img src="/images/right.svg" alt="">
                </button>
            
                <div class="carousel__nav">
                    <button class="carousel__indicator current-slide"></button>
                    <button class="carousel__indicator"></button>
                    <button class="carousel__indicator"></button>
            
                </div>
            
            </div>
    
            <!-- <div class="hero-box">
                <h2 class="box-title">Romeo y Julieta</h2>
                <p class="box-text">La clásica tragedia de Shakespeare cobra nueva vida con el arte de Svetlin Vassilev</p>
                <div class="button">
                    <button class="cfa">Leer un fragmento</button>
                </div>
            </div>
            <div class="down-section">
                <p class="down-section__text">Romeo y Julieta, ilustrado por Svetlin Vassilev</p>
                <button class="down-section__button">LEER UN FRAGMENTO</button>
            </div>
            <div class="oculto"> -->
    
            <!-- <div class="left-arrow">
                <i class="fa-solid fa-angle-left"></i>
            </div>
            <div class="right-arrow">
                <i class="fa-solid fa-angle-right"></i>
            </div> -->
            <!-- </div>
    
        </div> -->
        <!-- End of Hero section -->
    
        <main>
    
            <section class="graphic-novel">
                <div class="title-container">
                    <h1 class="section__title">
                        > HISTORIETA y NOVELA GRÁFICA
                    </h1>
                </div>
                <div class="items-container">
                    <% libros.forEach(libro => { %>
                        <% if (libro.genre_id == 1 && libro.id < 9) { %>
                            <article class="item">
                                <a href="/product/detail/<%= libro.id %> "><img src="/images/products/<%= libro.image %>" alt="">
                                 <h2> <%= libro.title %>  </h2>
        
                               
                                    <p> <%= libro.author%></p>
                                    <% if (libro.second_author != null) { %>
                                        <p> <%= libro.second_author %>  </p> 
                                    <% } %>                                  

                                  
                            
                                 <p class="precio"> $ <%= libro.price %></p></a>  
                             </article> 
                        <% } %>

                    <% }) %>
    
                    
    
                </div>
            </section>
            <section class="literature">
    
                <div class="title-container">
                    <h1 class="section__title">
                        > LITERATURA ILUSTRADA
                    </h1>
                </div>
                <article class="literature-container">
                    <div class="corner-text-wrapper">
                        <div class="corner-text">
                          <span>NUEVO</span>
                          </div>
                    </div>
    
                    <div class="literature-highlight">
                    <% libros.forEach(libro => { %>
                        <% if (libro.title === "El rey Arturo y sus caballeros de la Tabla Redonda") { %>
                            <a href="/product/detail/<%= libro.id %>"><img src="/images/products/<%= libro.image %>" alt=""></a> 
                        </div>
        
                        <div class="literature-description">
                            <h2 class="highlight-title"> <%= libro.title %> </h2>
                            <h3 class="highlight-text">En esta magistral versión, ilustrada con los dibujos originales de Aubrey Beardsley de la edición de 1893, Roger Lancelyn Green recrea el mundo mágico en el que transcurre una de las leyendas más grandes de todos los tiempos, y nos muestra las andanzas, triunfos y desventuras de nobles y valientes caballeros, magos, dragones... Un legado que nos recuerda que algunas historias no deben olvidarse jamás.</h3>
                            <div class="highlight-button-container">
                            <a href="/product/detail/<%= libro.id %>"><button class="highlight-button">VER MÁS</button></a>
                            </div>  
                        </div>
                    </article>
                        <% } %>
                     
                    <% }) %>
                   
              
            
            <section class="literature-section">
    
                <div class="items-container">
                    <% libros.forEach(libro => { %>
                        <% if (libro.genre_id ==2 && libro.title != "El rey Arturo y sus caballeros de la Tabla Redonda" && libro.id <14) { %>
                            <article class="item">
                                <a href="/product/detail/<%= libro.id %>"><img src="/images/products/<%= libro.image %>" alt="">  
                                <h2><%= libro.title %></h2>
                                <p><%= libro.author%> </p>
                                <% if (libro.second_author != null) { %>
                                    <p> <%= libro.second_author %>  </p> 
                                <% } %>
                                <p>Ilus.: <%= libro.illustrator %> </p>
                                <p class="precio">$ <%= libro.price %> </p></a>
                            </article>
                        <% } %>
                    <% }) %>
    
                </div>
            </section>
            </section>
    
            <section class="children">
                <div class="title-container">
                    <h1 class="section__title">
                        > INFANTILES
                    </h1>
                </div>
    
                <div class="items-container">
    
                    <% libros.forEach(libro => { %>
                        <% if (libro.genre_id == 3) { %>
                            <article class="item">
                                <a href="/product/detail/<%= libro.id %>"><img src="/images/products/<%= libro.image %>" alt="">    
                                <h2><%= libro.title %></h2>  
                                <p><%= libro.author %> </p>
                                <% if (libro.second_author != null) { %>
                                    <p> <%= libro.second_author %>  </p> 
                                <% } %>
                                <p>Ilus.: <%= libro.illustrator %> </p>
                                <p class="precio">$ <%= libro.price %> </p></a>
                            </article>
                         
                        <% } %>

                    <% }) %>
    
                </div>
            </section>
      
           
            <!-- <div class="title-container">
                <h1 class="children__title">
                    SEGUÍ EXPLORANDO
                </h1>
            </div> -->
            <div class="more-genres">
                <p class="viajes"><a href="/viajes">> VIAJES</a></p>
                <p class="humor"><a href="">> HUMOR</a></p>
                <p class="biografia"><a href="">> FOTOGRAFÍA</a></p>
                <!-- <p class="biografia"><a href="">> ARTE</a></p> -->
    
            </div>
    

    
        </main>


    <footer class="footer-section">
        
        <%- include ("./partials/footer.ejs")%>
    </footer>
    <script src="/js/carousel.js"></script>  
    </body>