<section class="up-section">
    <div class="main-title">
        <!-- <img src="/images/logo blanco.png" alt=""> -->
        <h1 class="main-title__text">OSÍAS</h1>
    </div>
    <nav class="main-menu">
        <ul class="menu">
            <li class="menu__item"><a class="animation" href="/">Inicio</a></li>
            <li class="menu__item"><a class="animation" href="">Nuestra librería</a></li>
            <li class="menu__item catalogo"><a class="animation" href="">Catálogo <i class="fa-solid fa-angle-down"></i></a>
                <ul class="menu-dropdown">
                    <li class="dropdown-item">
                        <a class="anchor-dropdown" href="/historieta">Historieta & Novela gráfica</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="anchor-dropdown" href="/literaturaIlustrada">Literatura ilustrada</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="anchor-dropdown" href="/infantiles">Infantiles</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="anchor-dropdown" href="/viajes">Viajes</a>
                    </li>
                    <li class="dropdown-item">
                        <a class="anchor-dropdown" href="">Humor</a>
                    </li >
                    <li class="dropdown-item">
                        <a class="anchor-dropdown" href="">Fotografía</a>
                    </li>
                </ul>
            </li>
            <% if (!locals.userLogged) { %>
            <li><a href="/user/register"><i class="fa-regular fa-user"></i></a></li>
            <li><a href="/user/login"><i class="fas fa-sign-in-alt"></i></a></li> 
            <%= console.log("header") %> 
            <%= console.log(locals.usuarioLogeado) %> 
            <%= console.log("fin header") %> 
            <% }else{ %>
                <li><a href="/product/cart"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="menu__item profile"><a href="/user/profile"><%= locals.usuarioLogeado.first_name %><i class="fas fa-sign-in-alt"></i></a>
                <% } %>
                <% if (locals.userLogged && locals.usuarioLogeado.isAdmin==1) { %>
                <%= console.log("inicio Head") %> 
                <%= console.log(locals.usuarioLogeado.isAdmin) %> 
                <%= console.log("fin Head") %>
                <ul class="menu-dropdown2"> 
                    <li class="dropdown-item"><a class="anchor-dropdown" href="/user/profile">MI CUENTA </a></li>
                    <li class="dropdown-item"><a class="anchor-dropdown" href="/product/create">CREAR PRODUCTO </a></li>
                    <li class="dropdown-item"><a class="anchor-dropdown" href="/user/usersList">LISTA DE USUARIOS </a></li>
                    <li class="dropdown-item"><a class="anchor-dropdown" href="/product/productsList">LISTA DE LIBROS </a></li>
                    <li class="dropdown-item"><a class="anchor-dropdown" href="/user/logout">CERRAR SESIÓN</a></li>
                </ul>
                <% } else { %>
                    <ul class="menu-dropdown2"> 
                        <li class="dropdown-item"><a class="anchor-dropdown" href="/user/profile">MI CUENTA</a></li>
                        <li class="dropdown-item"><a class="anchor-dropdown" href="">MIS FAVORITOS</a></li>
                        <li class="dropdown-item"><a class="anchor-dropdown" href="/user/logout">CERRAR SESIÓN</a></li>
                    </ul>
                </li>
                  <% } %>
                  <li class="menu__item">
                  <div class="search-bar">
                    <input class ="search-bar__input" type="text" placeholder="Buscá por título, autor, etc." aria-label="search">
                    <button class="search-bar__submit">
                        <i class="fa fa-search" aria-label="submit search"></i>
                    </button>
                    </div>
                </li>  

        </ul>
    </nav>

    <div class="hamburguer-menu">
        <i class="fa fa-bars burger"></i>
    </div>
</section>
<script src="/js/home.js"></script>