<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head.ejs")  %> 
    </head>
    <body>
        <header>
            <%- include ("../partials/header.ejs") %> 
        </header>



        <main class="main-register">
            <div class="caja-register">
                <form  action="/user/edit/<%=usuarioEditar.id%>?_method=PUT" method="POST"  class="formulario-completo" enctype="multipart/form-data" >
                  
                  <section> 
                        <img src="/images/users/<%=usuarioEditar.image %>" alt="" width=15% >
                   </section>
                   <br>
                   <br>

                      <label for="nombre" class="form-label">Nombre</label>
                      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="input-barras" value="<%=usuarioEditar.first_name %>">

                      <label for="apellido" class="form-label">Apellido</label>
                      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="input-barras" value="<%=usuarioEditar.last_name %>">

                      <label for="email" class="form-label">Email</label>
                      <input type="email" name="email" id="email" placeholder="E-mail" class="input-barras" value="<%=usuarioEditar.email %>" >
  
  
                     <label for="fecha-nacimiento" class="form-label">Fecha de nacimiento</label>
              
                     <input type="date" name="nacimiento" class="input-barras" value="<%=usuarioEditar.birth_date %>">
                 
                      <label for="domicilio" class="form-label">Domicilio</label>
                      <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="input-barras" value="<%=usuarioEditar.address %>" >
                    
                    <!-- Cambiar el if -->
                    <% if (locals.userLogged && locals.usuarioLogeado.isAdmin==1) { %>
                      <label for="rol" class="form-label">Rol</label>
                      <select name="rol" id="rol" class="form-input-categoria">
                        <option value="0">Usuario</option>
                        <option value="1">Admin</option>
                      </select>
                    <% } %>
                    <br>
                    <br>
               
                    <label class="form-label" for="avatar">Seleccionar una imagen de perfil</label>
                    <input type="file" name="imagen" class="input-avatar" value="<%=usuarioEditar.image %>" >
                
                    <label for="password" class="form-label">Contrase単a</label>
                    <input type="password" name="password" id="password" placeholder="Contrase単a" class="input-barras" >
                    <label for="password" class="form-label">Confirmar contrase単a</label>
                    <input type="password" name="password2" id="password2" placeholder="Confirmar contrase単a" class="input-barras" >
                    <% if(locals.errors && errors.datos) {%>
                      <section class="text-danger">
                        <%= errors.datos.msg %>
                      </section>
                      <% } %>
                  <div class="botones-editar">
                    <button type="submit" class="edit-boton-enviar">ENVIAR</button>
                  </div>
             
                </form>
                    <form action="/user/delete/<%=usuarioEditar.id%>?_method=DELETE" method="POST" enctype="multipart/form-data" class="contenedor-boton-eliminar">
                          
                      <button type="submit" class="edit-boton-borrar">ELIMINAR CUENTA</button>
               
              </form>
              <form action="/user/disable/<%=usuarioEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="contenedor-boton-eliminar">
                                      
                <button type="submit" class="edit-boton-borrar">DESHABILITAR</button>

              </form>
       
              
            </div>
          </main>

          <footer class="footer-section">
            <%- include ("../partials/footer.ejs")%>
          </footer>
        
    </body>
</html>