<!DOCTYPE html>
<html>
    <head>
        <%- include ("../partials/head.ejs")  %> 
    </head>
    <body>
        <header>
            <%- include ("../partials/header.ejs") %> 
        </header>



        <main class="main-register">
            <div class="caja-register">
                <form  action="/user/edit/<%=usuarioEditar.id%>?_method=PUT" method="POST"  class="formulario-completo" enctype="multipart/form-data" >
                  
                  <section> 
                        <img src="/images/users/<%=usuarioEditar.image %>" alt="" width=15% >
                   </section>
                   <br>
                   <br>
                      <div class="div-campos">
                      <label for="nombre" class="form-label">Nombre</label>
                      <input type="text" name="nombre" id="nombre" placeholder="Nombre" class="input-barras" value="<%=usuarioEditar.first_name %>">
                      <i class="fa-solid fa-circle-xmark" id="iconNombre"></i>
                      <small class="is-invalid" id="error-nombre"></small>
                      </div>

                      <div class="div-campos">
                      <label for="apellido" class="form-label">Apellido</label>
                      <input type="text" name="apellido" id="apellido" placeholder="Apellido" class="input-barras" value="<%=usuarioEditar.last_name %>">
                      <i class="fa-solid fa-circle-xmark" id="iconApellido"></i>
                      <small class="is-invalid" id="error-apellido"></small>
                      </div>

                      <div class="div-campos">
                      <label for="email" class="form-label">Correo electrónico</label>
                      <input type="email" name="email" id="email" placeholder="E-mail" class="input-barras" value="<%=usuarioEditar.email %>" >
                      <i class="fa-solid fa-circle-xmark" id="iconEmail"></i>
                      <small class="is-invalid" id="error-email"></small>
                      </div>

                      <div class="div-campos">
                        <label for="dni" class="form-label">Documento</label>
                        <input type="text" name="dni" id="dni" placeholder="Documento" class="input-barras" value="<%=usuarioEditar.dni %>" >
                        <i class="fa-solid fa-circle-xmark" id="iconDni"></i>
                     <small class="is-invalid" id="error-dni"></small>
                      </div>
  
  
                     <div class="div-campos">
                      <label for="fecha-nacimiento" class="form-label">Fecha de nacimiento</label>
                     <input type="date" name="nacimiento" id="nacimiento" class="input-barras" value="<%=usuarioEditar.birth_date %>">
                     <i class="fa-solid fa-circle-xmark" id="iconNacimiento"></i>
                    <small class="is-invalid" id="error-nacimiento"></small>
                    </div>
                 
                    <div class="div-campos">  
                    <label for="domicilio" class="form-label">Domicilio</label>
                      <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="input-barras" value="<%=usuarioEditar.address %>" >
                    </div>
                    
                    <div class="div-campos">
                    <% if (locals.userLogged && locals.usuarioLogeado.isAdmin==1) { %>
                      <label for="rol" class="form-label">Rol del usuario</label>
                      <select name="rol" id="rol" class="form-input-categoria">
                        

                        <option value="0">Usuario</option>
                        <option value="1">Administrador</option>
                      </select>
                    <% } %>
                  </div>

               
                    <div class="div-campos">
                    <label class="form-label" for="avatar">Seleccionar una imagen de perfil</label>
                    <input type="file" name="imagen" class="input-avatar" value="<%=usuarioEditar.image %>" id="imagen">
                    <i class="fa-solid fa-circle-xmark" id="iconImagen"></i>
                    <small class="is-invalid" id="error-imagen"></small>
                    </div>
                
                    <div class="div-campos">
                    <label for="password" class="form-label">Contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Contraseña" class="input-barras" >
                    <i class="fa-solid fa-circle-xmark" id="iconPass"></i>
                    <small class="is-invalid" id="error-password"></small>
                    </div>

                    <div class="div-campos">
                    <label for="password" class="form-label">Confirmar contraseña</label>
                    <input type="password" name="password2" id="password2" placeholder="Confirmar contraseña" class="input-barras" >
                    <i class="fa-solid fa-circle-xmark" id="iconPass2"></i>  
                    <small class="is-invalid" id="error-password2"></small>  
                    <% if(locals.errors && errors.datos) {%>
                      <section class="text-danger">
                        <%= errors.datos.msg %>
                      </section>
                      <% } %>
                    </div>

                  <div class="botones-editar">
                    <button type="submit" class="edit-boton-enviar">ENVIAR</button>
                  </div>
             
                </form>
                    <form action="/user/delete/<%=usuarioEditar.id%>?_method=DELETE" method="POST" enctype="multipart/form-data" class="contenedor-boton-eliminar">
                          
                      <button type="submit" class="edit-boton-borrar">ELIMINAR CUENTA</button>
               
              </form>
              <form action="/user/disable/<%=usuarioEditar.id%>?_method=PUT" method="POST" enctype="multipart/form-data" class="contenedor-boton-eliminar">
                                      
                <button type="submit" class="edit-boton-borrar">DESHABILITAR</button>

              </form>
       
              
            </div>
          </main>

          <footer class="footer-section">
            <%- include ("../partials/footer.ejs")%>
          </footer>

      <script src="/js/userValidation/editUser.js"></script>
        
    </body>
</html>