<!DOCTYPE html>
<html>

<head>
  <%- include ("../partials/head") %>
</head>

<body class="body-login">
  <header>
    <%- include ("../partials/header")%>
  </header>


  <main class="main-login">
    <section class="caja-login">

      <form action="/user/login" method="POST" class="formulario-completo">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="input-barras">
        <% if(locals.errors && errors.email) {%>
          <section class="text-danger">
            <%= errors.email.msg %>
          </section>
          <% } %>

            <label for="password" class="">Contraseña</label>
            <input type="password" name="password" id="password" class="input-barras" minlength="4" maxlength="8">
            <% if(locals.errors && errors.password) {%>
              <section class="text-danger">
                <%= errors.password.msg %>
              </section>
              <% } %>
                <% if(locals.errors && errors.datos) {%>
                  <section class="text-danger">
                    <%= errors.datos.msg %>
                  </section>
                  <% } %>
                    <section class="">
                      <label class="">
                        <input type="checkbox" name="recordar" id="recordar"> Recordar mi usuario
                      </label>
                    </section>

                    <section>
                      <p class="recuperacion-contraseña">
                        ¿No tenés cuenta?  <a href="/user/register">Creala</a>. 
                    </p>
                      <a href="/user/pass">
                        <p class="recuperacion-contraseña">
                          ¿Olvidaste tu contraseña?
                        </p>
                      </a>
                    </section>
                    <button type="submit" class="boton-login">Enviar</button>
                    <!-- <button type="reset" class="boton-borrar">Borrar</button> -->
                   

      </form>


  </main>

  <footer class="footer-section">
    <%- include ("../partials/footer.ejs")%>

  </footer>

</body>

</html>