<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
</head>

<body class="body-login">
    <header>
        <%- include ("../partials/header")%>
    </header>


    <main class="main-login">
        <div class="caja-login">
         
            <section class="container" style="margin-top: 40px;">
                <section class="">
                    <section class="">
                        <h2>PERFIL DE USUARIO</h2>
                        <br>
                        <% if (usuarioLogeado.isAdmin==1) { %>
                          <h3>Tenés rol de administrador</h3>
                        <% } %>
                        <br>
                        <h3> Nombre: <%= usuarioLogeado.first_name + " "+ usuarioLogeado.last_name %> </h3>
                        <br>
                        <div>
                             <img  src="/images/users/<%=usuarioLogeado.image %>" class="imagenUsuario" alt="" width="200px" height="200px" style="border-radius:100px">
                        </div>
                       
                        <br>
                        <br>
                        <div class="alert alert-success">Email: <%= usuarioLogeado.email %> </div>
                        <div class="alert alert-success">Fecha de nacimiento: <%= usuarioLogeado.birth_date %> </div>
                    </section>
                    <br>
                    <article> 
                        <button class="button-profile"> <a class="anchor-profile" href="/user/edit/<%=usuarioLogeado.id%>"> EDITAR / ELIMINAR </a></button>
                       </article>
                    <article>
                        <br>
                        <button class="button-profile"> <a class="anchor-profile" href="/user/logout"> CERRAR SESIÓN </a></button>
                       </article>
                    
                    
                </section>
            </section>



            </div>
    </main>

    <footer class="footer-section">
        <%- include ("../partials/footer.ejs")%>

    </footer>

</body>

</html>