<!DOCTYPE html>
<html>

<head>
    <%- include ("../partials/head") %>
</head>

<body>
    <header>
        <%- include ("../partials/header")%>
    </header>


    <main class="main-login">
        <div class="caja-login">
         
            <section class="container" style="margin-top: 40px;">
                <section class="">
                    <section class="">
                        <h2>PERFIL DE USUARIO</h2>
                        <br>
                        <h3>Rol: <%=usuarioLogeado.rol%></h3>
                        <h3> Nombre: <%= usuarioLogeado.nombre %> </h3>
                        <div>
                             <img  src="/images/users/<%=usuarioLogeado.imagen %>" class="imagenUsuario" alt="" width="200px" height="200px" style="border-radius:100px">
                        </div>
                       
                        <br>
                        <br>
                        <div class="alert alert-success">Email: <%= usuarioLogeado.email %> </div>
                        <div class="alert alert-success">Fecha de nacimiento: <%= usuarioLogeado.nacimiento %> </div>
                    </section>
                    <article> <a class="dropdown-item" href="/user/edit/<%=usuarioLogeado.id%>">Editar/Eliminar</a></article>
                    <article><a class="dropdown-item" href="/user/logout">Cerrar sesión</a></article>
                    
                    
                </section>
            </section>



            </div>
    </main>

    <footer>
        <%- include ("../partials/footer.ejs")%>

    </footer>

</body>

</html>