<!DOCTYPE html>
<html>
    <head>
    <%- include ("../partials/head.ejs")  %> 

   
    </head>
    <body>
    <header>     
       <%- include("../partials/header.ejs")  %> 
    </header>

 <body>

    <main class="contenedorCarrito">

        <table >
          
            <thead >
                     <tr>
               <th><h3><b>USUARIO </b> </h3></th>
                <th><h3>NOMBRE </h3></th>
                <th><h3>EMAIL</h3></th>
              
                
                <th></th>
                 </tr>
                </thead>
        <tbody>
                
           


              <% usuarios.forEach(usuario => { %>
                     <tr class="tablaItem">
                         <td><img  src="/images/users/<%=usuario.imagen %>" class="imagenCarrito" alt="" width="100px" height="100px"><a href="" class="eliminarItem"><p>Eliminar</p></a></td>
                          <td> <%=usuario.nombre%></td>
  
                        <td><%=usuario.email%></td>
                               <% }) %>  
                      </tr>



   
       
 





        </tbody>
     
      

        </table>   


    </main>



    <footer>
        
        <%- include ("../partials/footer.ejs")%>
    </footer>

 </body>

 </html>

  