<!DOCTYPE html>
<html>
    <head>
    <%- include ("../partials/head.ejs")  %> 

   
    </head>
    <body>
    <header>     
       <%- include("../partials/header.ejs")  %> 
    </header>

 <body>

    <main class="contenedorCarrito">

        <table >
          
            <thead >
                     <tr>
               <th><h3><b>USUARIO </b> </h3></th>
                <th><h3>NOMBRE </h3></th>
                <th><h3>EMAIL</h3></th>
                <th><h3>ROL</h3></th>
                
                <th></th>
                 </tr>
                </thead>
        <tbody>
                
           


            <% usuarios.forEach(usuario => { %>
                <tr class="tablaItem">
                   <% if (usuario.active===1) { %>
                            <td><img  src="/images/users/<%=usuario.image %>" class="imagenUsuario" alt="" width="100px" height="100px" style="border-radius:50px"><a href="./edit/<%=usuario.id%>" class="eliminarItem"><p>Eliminar/Editar</p></a></td>
                     <td> <%=usuario.first_name +" "+ usuario.last_name%></td>

                   <td><%=usuario.email%></td>
              
                   <% if (usuario.isAdmin===1) { %>
                       <td>Admin</td>
                          <% }else{ %>
                          <td>Cliente</td>
                          <% } %>


                          <% } %>  
                 </tr>
                  

                  <% }) %>



   
       
 





        </tbody>
     
      

        </table>   


    </main>



    <footer class="footer-section">
        
        <%- include ("../partials/footer.ejs")%>
    </footer>

 </body>

 </html>

  